DEMO01/SecondClient/Service References/Proxy/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Compartir" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Compartir" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LogMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogMessage" nillable="true" type="tns:LogMessage" />
</xs:schema>